header{
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-size: small;
    padding: 5px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     gap: 40px;
     background-color:rgba(190, 185, 185,0.5) ;
     padding: 30px;
}

.recipe{
    background-color:white ;
    text-align: center;
    box-shadow: 3px 3px 2px 2px rgba(60,60,60,0.2);
    border-radius: 10px;
    padding-bottom: 10px;
    width: 250px;
    margin-bottom: 10px;

}
a{
    text-decoration: none;
    color: white;
    border-radius: 10px;
    
}
.rec{
    background-color: black;
    padding: 10px;
}

